<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <link rel="stylesheet" href="game.css" />
</head>

<body>
  <div id="app">
    <div id="error-container" v-if="error!=''">
      {{error}}
      <a href="games.html"> <br>Back to home page >></a>
    </div>
    <div id="header-container">
      <a id="home-link" href="games.html">Salvo!</a>
      <div id="player-info-container">
        <h2>
          <span class="underline">
            {{gameViewData.playerUsername}}
          </span> (you) vs. {{gameViewData.opponentUsername}}
        </h2>
      </div>
      <div id="logout-container">
          <button id="logout-button" @click=logout>Logout >></button>
      </div>
    </div>
    <div id="content">

      <div id="set-up-view" v-if="gameState=='placing ships'">

        <div id="directions">
          <p>Welcome, {{gameViewData.playerUsername}}!</p>
          <p>Place each battleship below on the grid.</p>
        </div>

        <div id="ship-place-content">

        <div id="ships-list-container">

          <div id="orientation-control">
            <span class="label">horizonal</span>
            <label class="switch">
              <input type="checkbox" @click="resetShadowOrientation()">
              <span class="slider round"></span>
            </label>
            <span class="label">vertical</span>
          </div>
          <table id="ships-list">
            <tr v-for="ship in ships">
              <td><span class="check" v-if="ship.locations.length>0">&#10004;</span></td>
              <td class="name">
                <button class="ship-type" @click="selectShip(ship)" v-bind:class="{active:selectedShip==ship, done:ship.locations.length>0}">
                  {{ship.type}}
                </button>
              </td>
              <td class="ship-pic">
                <div v-for="cell in ship.length" class="ship-div"></div>
              </td>
            </tr>
          </table>
          <div id=ships-list-submit>
            <button v-if="checkIfShipsPlaced()" id="ships-submit" @click="saveShips()">Submit ship positions</button>
          </div>
        </div>

        <div id="ship-table-container">
          <table id="ship-placement-table">
            <tr>
              <td class="col-label"></td>
              <td v-for="col in cols" v-bind:class="'col-label'">{{col}}</td>
            </tr>
            <tr v-for="row in rows">
              <td v-bind:class="'row-label'">{{row}}</td>
              <td v-for="col in cols" v-bind:id="row + col" @mouseover="getShadowLocation(row,col)" @click="placeShip" v-bind:class="determineShipPlacingClass(row, col)">
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>

      <div id="game-view" v-if="gameState!='placing ships'">
        <div id="stats-container">

          <div id="player-stats">
            <h3 class="underline">{{gameViewData.playerUsername}}</h3>
            <table class="stats">
              <tr v-for="ship in playerStats">
                <td class="name" v-bind:class="{sunk: ship.hits==ship.length}">{{ship.type}}</td>
                <td class="ship-pic">
                  <div class="hit-div" v-for="i in ship.hits"></div>
                  <div class="ship-div" v-for="j in (ship.length-ship.hits)"></div>
                </td>
              </tr>
            </table>
          </div>

          <div id="opponent-stats">
            <h3>{{gameViewData.opponentUsername}}</h3>
            <table class="stats">
              <tr v-for="ship in opponentStats">
                <td class="name" v-bind:class="{sunk: ship.hits==ship.length}">{{ship.type}}</td>
                <td class="ship-pic">
                  <div class="hit-div" v-for="i in ship.hits"></div>
                  <div class="ship-div" v-for="j in (ship.length-ship.hits)"></div>
                </td>

              </tr>
            </table>
          </div>
        </div>

        <div id="tables-wrapper">

          <div id="col1">

            <div id="prompts" class="yellow">
              <div v-if="gameState =='waiting for opponent'">Waiting for opponent to join...</div>
              <div v-if="gameState =='opponent placing ships'">Opponent has joined and is preparing for battle...</div>
              <div id="shots-container" v-if="gameState=='fire salvo'">
                <div class="yellow">
                  <div v-if="gameViewData.opponentSalvos.length>0">
                  <span v-if="getOpponentTurnHits()==1">Enemy hit you 1 time.</span>
                  <span v-else>Enemy hit you {{getOpponentTurnHits()}} times.</span>
                  <br>
                </div>
                  <br>Your move!
                  <br> Select shot locations on the grid ->
                </div>
                <div id="shots">
                  <div class="shot" v-for="shot in (5 - currentSalvo.locations.length)"></div>
                </div>
                <button v-if="checkIfSalvoComplete()" id="salvos-submit" @click="saveSalvos()">Fire salvo</button>
              </div>
              <div v-if="gameState=='awaiting opponent salvo'" class="yellow">
                <span v-if="getPlayerTurnHits() > 1"> Nice! {{getPlayerTurnHits()}} hits on enemy ships.</span>
                <span v-if="getPlayerTurnHits() == 1"> Nice! 1 hit on enemy ships.</span>
                <span v-if="getPlayerTurnHits() == 0">No hits.</span>
                <br>
                <br>Waiting for counter strike...
              </div>
              <div v-if="gameState=='opponent gets one more chance'">Congrats! You've sunk all enemy ships. They have one more chance to tie the game.</div>
              <div id="shots-container" v-if="gameState=='one more chance'">
                <div class="yellow">All your ships have sunk! You have one more chance to tie the game. Best of luck. </div>
                <div id="shots">
                  <div class="shot" v-for="shot in (5 - currentSalvo.locations.length)"></div>
                </div>
                <button v-if="checkIfSalvoComplete()" id="salvos-submit" @click="saveSalvos()">Fire salvo</button>
              </div>
              <div v-if="gameState=='game won'">
                Congratulations, you've won the battle!
                <br>
                <br><span><a class="homelink" href="games.html">Back to home</a></span>
              </div>
              <div v-if="gameState=='game lost'">
                You have lost the battle.
                <br>
                <br><span><a class="homelink" href="games.html">Back to home</a></span>
              </div>
              <div v-if="gameState=='game tied'">
                Well done! Game tied.
                <br><span><a class="homelink" href="games.html">Back to home</a></span>
              </div>

            </div>

            <table id="ship-table">
              <tr>
                <td class="col-label"></td>
                <td v-for="col in cols" v-bind:class="'col-label'">{{col}}</td>
              </tr>
              <tr v-for="row in rows">
                <td v-bind:class="'row-label'">{{row}}</td>
                <td v-for="col in cols" v-bind:id="row + col" v-bind:class="determineShipTableClass(row,col)">
                  {{getSalvoTurn('opponent', row, col)}}
                </td>
              </tr>
            </table>


          </div>

          <div id="col2">
            <table id="salvo-table">
              <tr>
                <td class="col-label"></td>
                <td v-for="col in cols" v-bind:class="'col-label'">{{col}}</td>
              </tr>
              <tr v-for="row in rows">
                <td v-bind:class="'row-label'">{{row}}</td>
                <td v-for="col in cols" @mouseover="getSalvoShadow(row, col)" @click="shootSalvo(row, col)" v-bind:class="determineSalvoTableClass(row, col)">{{getSalvoTurn('player', row, col)}}</td>
              </tr>
            </table>
          </div>


        </div>



      </div>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="game.js"></script>
</body>

</html>
